ssh_public_key = "ecdsa-sha2-nistp521 ... terraform@me"

ssh_private_key = <<-EOT
-----BEGIN OPENSSH PRIVATE KEY-----
...
-----END OPENSSH PRIVATE KEY-----
EOT

ssh_additional_public_keys = [
  "ecdsa-sha2-nistp521 ... user@me"
]
