# yaml-language-server: $schema=../../../../charts/cilium/values.schema.json

cluster:
  name: mgmt
  id: 1

k8sClientRateLimit:
  qps: 10
  burst: 20

ingressController:
  enabled: true
  loadbalancerMode: shared
  defaultSecretNamespace: "external-certs"
  defaultSecretName: "cluster-ingress"
