# yaml-language-server: $schema=../../../../charts/cilium/values.schema.json

ipam:
  mode: kubernetes

kubeProxyReplacement: true

# KubePrism Endpoint
k8sServiceHost: localhost
k8sServicePort: 7445

ipv4:
  enabled: true
ipv6:
  enabled: true

externalIPs:
  enabled: true

nodePort:
  enabled: true

hostPort:
  enabled: true

hostFirewall:
  enabled: true

localRedirectPolicies:
  enabled: true

endpointRoutes:
  enabled: true

pmtuDiscovery:
  enabled: true

## Roll out cilium pods automatically when configmap is updated, a la reloader.
##
rollOutCiliumPods: true
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1

## Routing configuration.
## See https://docs.cilium.io/en/stable/network/concepts/routing/
##
autoDirectNodeRoutes: true
routingMode: native
ipv4NativeRoutingCIDR: 10.0.0.0/8
ipv6NativeRoutingCIDR: fc42::/56

bgpControlPlane:
  enabled: true
  secretsNamespace:
    create: true
    name: cilium-bgp

wellKnownIdentities:
  enabled: true

loadBalancer:
  algorithm: maglev
  mode: dsr
  serviceTopology: true
  l7:
    backend: envoy

bpf:
  masquerade: true
  # https://docs.cilium.io/en/stable/operations/performance/tuning/#netkit-device-mode
  datapathMode: netkit
  # https://github.com/siderolabs/talos/issues/9043
  hostLegacyRouting: true
  events:
    default:
      rateLimit: 10000
      burstLimit: 50000

# https://docs.cilium.io/en/stable/operations/performance/tuning/#bandwidth-manager
bandwidthManager:
  enabled: true

envoyConfig:
  enabled: true

encryption:
  enabled: false

bpfClockProbe: true

dnsPolicy: ClusterFirst

operator:
  replicas: 2
  rollOutPods: true
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  prometheus:
    enabled: false
    serviceMonitor:
      enabled: false
      trustCRDsExist: true
  resources: {}

prometheus:
  enabled: false
  serviceMonitor:
    enabled: false
    trustCRDsExist: true

hubble:
  enabled: true

  relay:
    enabled: true
    replicas: 1
    rollOutPods: true
    resources: {}

  ui:
    enabled: true
    replicas: 1 # https://github.com/cilium/hubble-ui/issues/833
    rollOutPods: true
    ingress:
      enabled: false
    frontend:
      resources: {}
    backend:
      resources: {}

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
