clusterName: main
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
endpoint: https://kmain.cin.macro.network:6443
cniConfig:
  name: none

additionalApiServerCertSans:
  - "10.112.0.1"
  - "fc42:0:0:70::1"

clusterSvcNets:
  - 10.112.0.0/12
  - fc42:0:0:70::/108
clusterPodNets:
  - 10.128.0.0/14
  - fc42:0:0:80::/64

nodes:
  - hostname: kmain01.cin.macro.network
    ipAddress: 10.10.10.1
    controlPlane: true
    installDisk: &rk1Disk /dev/nvme0n1
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 1g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az01
    networkInterfaces:
      - deviceSelector: &rk1NetDevice
          driver: rk_gmac-dwmac
          busPath: "fe1c0000.ethernet"
        dhcp: false
        addresses:
          - "10.10.10.1/16"
          - "fc42:0:0:a::1001/64"
        mtu: &mtu 1500
        routes: &routes
          - network: 0.0.0.0/0
            gateway: "10.10.0.1"
          # Link-local IPv6 route set via RA with `metric: 1024`.
          - network: ::/0
            gateway: "fc42:0:0:a::"
            metric: 4096
    schematic: &rk1schematic
      overlay:
        name: turingrk1
        image: siderolabs/sbc-rockchip
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/zfs
        extraKernelArgs:
          - cpufreq.default_governor=ondemand
    kernelModules:
      - &zfsModule
        name: zfs
    volumes:
      - &fixedEphemeral
        name: EPHEMERAL
        provisioning:
          maxSize: 100GiB
          grow: false
    extraManifests:
      - &zfsPool manifests/volume-zfs-pool.yaml

  - hostname: kmain02.cin.macro.network
    ipAddress: 10.10.10.2
    controlPlane: true
    installDisk: *rk1Disk
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 1g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az02
    networkInterfaces:
      - deviceSelector: *rk1NetDevice
        dhcp: false
        addresses:
          - "10.10.10.2/16"
          - "fc42:0:0:a::1002/64"
        mtu: *mtu
        routes: *routes
    schematic: *rk1schematic
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool

  - hostname: kmain03.cin.macro.network
    ipAddress: 10.10.10.3
    controlPlane: true
    installDisk: *rk1Disk
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 1g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az03
    networkInterfaces:
      - deviceSelector: *rk1NetDevice
        dhcp: false
        addresses:
          - "10.10.10.3/16"
          - "fc42:0:0:a::1003/64"
        mtu: *mtu
        routes: *routes
    schematic: *rk1schematic
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool

  - hostname: kmain04.cin.macro.network
    ipAddress: 10.10.10.4
    controlPlane: false
    installDisk: *rk1Disk
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 1g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az01
      bgp.kube.macro.network/peer-group: main
    networkInterfaces:
      - deviceSelector: *rk1NetDevice
        dhcp: false
        addresses:
          - "10.10.10.4/16"
          - "fc42:0:0:a::1004/64"
        mtu: *mtu
        routes: *routes
    schematic: *rk1schematic
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool

  - hostname: kmain05.cin.macro.network
    ipAddress: 10.10.10.5
    controlPlane: false
    installDisk: *rk1Disk
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 1g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az02
      bgp.kube.macro.network/peer-group: main
    networkInterfaces:
      - deviceSelector: *rk1NetDevice
        dhcp: false
        addresses:
          - "10.10.10.5/16"
          - "fc42:0:0:a::1005/64"
        mtu: *mtu
        routes: *routes
    schematic: *rk1schematic
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool

  - hostname: kmain06.cin.macro.network
    ipAddress: 10.10.10.6
    controlPlane: false
    installDisk: *rk1Disk
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 1g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az03
      bgp.kube.macro.network/peer-group: main
    networkInterfaces:
      - deviceSelector: *rk1NetDevice
        dhcp: false
        addresses:
          - "10.10.10.6/16"
          - "fc42:0:0:a::1006/64"
        mtu: *mtu
        routes: *routes
    schematic: *rk1schematic
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool

  - hostname: kmain07.cin.macro.network
    ipAddress: 10.10.10.7
    controlPlane: false
    installDisk: &M11SDVdisk /dev/nvme0n1
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 10g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az01
      bgp.kube.macro.network/peer-group: main
    networkInterfaces:
      - deviceSelector: &M11SDVNetDevice
          driver: mlx4_core
        dhcp: false
        addresses:
          - "10.10.10.7/16"
          - "fc42:0:0:a::1007/64"
        mtu: 9000
        routes: *routes
    schematic: &M11SDVschematic
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/zfs
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool
    patches:
      - &machine10G |-
        machine:
          sysctls:
            net.core.rmem_max: 67108864
            net.core.wmem_max: 67108864
            net.ipv4.tcp_mtu_probing: 1
            net.ipv4.tcp_rmem: 4096 87380 33554432
            net.ipv4.tcp_wmem: 4096 65536 33554432

  - hostname: kmain08.cin.macro.network
    ipAddress: 10.10.10.8
    controlPlane: false
    installDisk: *M11SDVdisk
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 10g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az02
      bgp.kube.macro.network/peer-group: main
    networkInterfaces:
      - deviceSelector: *M11SDVNetDevice
        dhcp: false
        addresses:
          - "10.10.10.8/16"
          - "fc42:0:0:a::1008/64"
        mtu: 9000
        routes: *routes
    schematic: *M11SDVschematic
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool
    patches:
      - *machine10G

  - hostname: kmain09.cin.macro.network
    ipAddress: 10.10.10.9
    controlPlane: false
    installDisk: *M11SDVdisk
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 10g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: az03
      bgp.kube.macro.network/peer-group: main
    networkInterfaces:
      - deviceSelector: *M11SDVNetDevice
        dhcp: false
        addresses:
          - "10.10.10.9/16"
          - "fc42:0:0:a::1009/64"
        mtu: 9000
        routes: *routes
    schematic: *M11SDVschematic
    kernelModules:
      - *zfsModule
    volumes:
      - *fixedEphemeral
    extraManifests:
      - *zfsPool
    patches:
      - *machine10G

  - hostname: knas01.cin.macro.network
    ipAddress: 10.10.12.1
    controlPlane: false
    installDisk: /dev/null
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 10g
      topology.kubernetes.io/region: cin
      topology.kubernetes.io/zone: "0"
      node-role.kubernetes.io/storage: ""
    networkInterfaces:
      - deviceSelector:
          driver: macvlan
        dhcp: false
        addresses:
          - "10.10.12.1/16"
          - "fc42:0:0:a::1201/64"
        mtu: 9000
        routes: *routes
    patches:
      - *machine10G
      - &machineNAS |-
        machine:
          kubelet:
            extraConfig:
              registerWithTaints:
                - key: node-role.kubernetes.io/storage
                  effect: NoSchedule
            extraMounts:
              - source: /var/media
                destination: /var/media
                type: bind
                options:
                  - rbind
                  - rshared
                  - rw

  - hostname: krobot01.fsn.macro.network
    ipAddress: 10.42.2.20
    controlPlane: false
    installDisk: /dev/null
    nodeLabels:
      feature.node.kubernetes.io/network.max-link-speed: 1g
      topology.kubernetes.io/region: fsn
      topology.kubernetes.io/zone: "0"
      node-role.kubernetes.io/storage: ""
    networkInterfaces:
      - deviceSelector:
          driver: macvlan
        dhcp: false
        addresses:
          - "10.42.2.20/24"
        mtu: 1400
        routes:
          - network: 10.10.0.0/16
            gateway: "10.42.2.1"
            metric: 256
          - network: 10.42.0.0/16
            gateway: "10.42.2.1"
            metric: 256
    patches:
      - *machineNAS
    nameservers:
      - "185.12.64.1"
      - "185.12.64.2"

controlPlane:
  certSANs:
    - kmain.cin.macro.network
    - localhost
    - "127.0.0.1"
  nameservers: &nameservers
    - "10.10.0.1"
    - "fc42:0:0:a::"
  disableSearchDomain: &disableSearchDomain true
  schematic:
    customization:
      extraKernelArgs: &extraKernelArgs
        - "talos.logging.kernel=udp://syslog.cin.macro.network:6050/"
  machineFiles:
    - &spegelCriConfig
      path: /etc/cri/conf.d/20-customization.part
      op: create
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
  patches:
    - "@./talclusterconfig.yaml"

worker:
  certSANs:
    - "127.0.0.1"
  nameservers: *nameservers
  disableSearchDomain: *disableSearchDomain
  schematic:
    customization:
      extraKernelArgs: *extraKernelArgs
  machineFiles:
    - *spegelCriConfig
  patches:
    - |-
      machine:
        kubelet:
          extraConfig:
            maxPods: 250

patches:
  - "@./talmachineconfig.yaml"
