# yaml-language-server: $schema=../../../../charts/radarr/values.schema.json

global:
  fullnameOverride: radarr

controllers:
  radarr:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1005
        runAsGroup: 3000
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
      tolerations:
        - key: node-role.kubernetes.io/storage
          effect: NoSchedule
      nodeSelector:
        kubernetes.io/hostname: knas01
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: "6.1.1.10317"
        env:
          RADARR__SERVER__PORT: { value: &port 7878 }
          RADARR__APP__INSTANCENAME: { value: Radarr }
          RADARR__APP__THEME: { value: dark }
          RADARR__AUTH__METHOD: { value: External }
          RADARR__AUTH__REQUIRED: { value: DisabledForLocalAddresses }
          RADARR__AUTH__APIKEY:
            valueFrom:
              secretKeyRef:
                name: radarr-credentials
                key: RADARR_AUTH_APIKEY
          RADARR__POSTGRES__HOST:
            value: starr-postgres-rw.starr-system.svc.cluster.local
          RADARR__POSTGRES__PORT: { value: "5432" }
          RADARR__POSTGRES__USER: { value: radarr }
          RADARR__POSTGRES__PASSWORD:
            valueFrom:
              secretKeyRef:
                name: radarr-credentials
                key: RADARR_POSTGRES_PASSWORD
          RADARR__POSTGRES__MAINDB: { value: radarr-main }
          RADARR__LOG__DBENABLED: { value: "False" }
          RADARR__LOG__LEVEL: { value: info }
          RADARR__UPDATE__BRANCH: { value: develop }
          TZ: { value: America/New_York }
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 100m
            memory: 2Gi
          limits:
            memory: 4Gi

service:
  app:
    ports:
      http:
        port: *port

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-hostpath
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /config
  media:
    type: hostPath
    hostPath: /var/media/video/movies
    globalMounts:
      - path: /media/video/movies
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
